html,
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  background-color: #1b2224;
  margin: 0;
  line-height: 1.43;
}

.container {
  display: flex;
}

ul {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.sidebar {
  height: 100%;
  min-width: 200px;
  color: #596468;
}

.compose-btn {
  display: flex;
  background-color: #ce5135;
  border: none;
  border-radius: 3px;
  padding: 0.8em 3em;
  color: #fff;
  margin: 3.5em auto;
  margin-bottom: 2.5em;
  font-size: 1.05em;
  font-weight: lighter;
  cursor: pointer;
}

.email-panel {
  padding: 3em 4em;
  flex-grow: 1;
  max-width: 600px;
  background-color: #fff;
}

.email-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.email-header {
  font-weight: lighter;
  font-size: 3em;
  margin: 0;
  color: #444;
}

.email-list {
  margin-top: 2em;
  padding-top: 2em;
  border-top: 1px solid #e9eff0;
}

.email-item {
  border-bottom: 1px solid #e9eff0;
  padding-bottom: 2em;
  margin-bottom: 2em;
}

.meta-data {
  margin-bottom: 1em;
  display: flex;
  justify-content: space-between;
  font-size: 0.9em;
  opacity: 0.5;
}

/* my css */
.email-search{
  padding: 10px;
  text-align: right;
  border-style:  double;
  border-color: lightgrey;
  width: 35%;
  opacity:  0.4;
  font-weight: normal;
  font-size: initial;
}

.sidebar-divider{
  border-top: solid 0.5px;
  opacity: 0.4;
  padding-top: 20px;
  padding-left:  10px;
  padding-bottom:  10px;
}

.sidebar-notification {
  border-radius: 50%;
  border: solid 0.9px;
  height: 17px;
  width: 17px;
  display: inline-flex;
  justify-content: center;
  font-size: small;
  margin-left: 80px;
}

.sidebar-notification:active {
  color: white;
  border-radius: 50%;
  border-color: #ce5135;
  border-style: solid;
  background-color: #ce5135;
  height: 20px;
  width: 20px;
  display: inline-flex;
  justify-content: center;
  font-size: small;
}

.sidebar-icon {
padding: 0px 10px;
}

.sidebar-item{
  padding: 10px;
  border-style: solid;
  border-color: transparent;
}

.sidebar-item:active{
  background-color: white;
  border-left-color: #ce5135;
  border-left-style: solid;
}
.sidebar-item:active .sidebar-notification {
  color: white;
  border-radius: 50%;
  border-color: #ce5135;
  border-style: solid;
  background-color: #ce5135;
  height: 20px;
  width: 20px;
  display: inline-flex;
  justify-content: center;
  font-size: small;
}

.sidebar-item:nth-last-child(4) {
  margin-bottom: 20px;
}
